
body {
  color: black;
  font-family: Georgia;
  font-size: 17px;
  margin: 0;
  margin-left:20px;
  display: flex;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 100px;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  margin-top:0px;
  border-bottom: solid 2px;
  background-color: white;

}


.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;        /* takes the whole and puts the nav on right side */
  /*background-color: blue;*/
  color = MediumAquamarine;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 0.1; /* important note */
  margin-right: 30px;
  font-weight: bold;
  color: black; /* it is not working checking it out later */

}

span, a {
  color: black;
}


.container {
  /*background-color: red;*/
  display: flex;
  flex-flow: wrap row;

}

.columnLarge {
  width: 630px;
  /*background-color: grey;*/
  /*border: solid 3px;*/
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  flex-flow: wrap column;
  flex: auto;



}

.firstcolumn {
  background-image: url(./image/main.png);
  background-repeat: no-repeat;
  width:630px;
  height: 300px;
  display: flex;
  color: white;
  font-size: 40px;
  font-weight: bold;
  align-items: center;

}

.secondcolumn {
  display: flex;
  width: 630px;
}



.thirdcolumn {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 630px;

}

h1 {
  font-size: 30px;
}


.fourthcolumn {
  display: flex;
  flex-direction: row;
}

.fifthrow {
  background-image: url(./image/story-2.png);
  display: flex;
  height: 300px;
  width: 295px;
  margin-top: 15px;
  margin-right: 10px;
  text-align: center;

}

.sixthrow {
  background-image: url(./image/story-3.png);
  display: flex;
  height: 300px;
  width: 295px;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;

}

.fifthrow, .sixthrow, .sixthcolumn h1 {
  color:white;
}

.columnMiddle {
  /*background-color: green;*/
  width: 300px;
  /*border: solid 3px;*/
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  margin-left: 30px;
}

.sixthcolumn {
  background-image: url(./image/story-1.png);
  height: 300px;
  text-align: center;
  display: flex;

}


.columnSmall{
  background-color: WhiteSmoke;
  width: 240px;
  display: flex;
  flex-direction: column;
  /*border: solid 2px; */
  color: black;
  margin-top: 135px;
  margin-left: 30px;
}

.seventhcolumn {
  background-image: url(./image/bites.png);
  height: 240px;
  display: flex;
}

.eightcolumn, h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.eightcolumn, li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  
}

footer {
display: flex;
justify-content: center;
align-items: center;
flex-flow: wrap row;


width: 100%;
height: 325px;
background-color: MediumAquamarine;
margin: auto;
font-family: Verdana;
font-size: 12px;
}

footer, span {
  padding-left: 10px;
}


.myTitle {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
